@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:wght@200;300;400;600;700&family=Poppins:wght@500;600&display=swap');

:root{
    --red:#fac031;
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background: var(--red);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
body{
    background: #f7f7f7;

}
section{
    padding: 2rem 9%;
}
.btn{
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid var(--red);
    color: var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}
.btn::before{
    content: '';
    position: absolute;
    top: 0; right: 0;
    width:0%;
    height: 100%;
    background: var(--red);
    transition: .3s linear;
    z-index: -1;
}
.btn:hover:before{
    width: 100%;
    left: 0;
}
.btn:hover{
    color: #fff;
}

header{
    position: fixed;
    top: 0; left:  0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #666;
}
header .logo img{
    padding-right: .5rem;
    color: var(--red);
    width: 70px;
    /* margin: 7px 0; */
}

header .navbar a{
    text-decoration: none;
    font-size: 2rem;
    margin-left: 2rem;
    color: #000000;
}
header .navbar a:hover{
    color: #fac031;
}
header .navbar a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #fac031;
    transition: 0.2s linear;
}
header .navbar a:hover:after{
    width: 100%;
}
#menu-bar{
    font-size: 3rem;
    cursor: pointer;
    color: #000000;
    border: .1rem solid #000000;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
}
header #menubar :hover{
    color: #fac031;
    transform: rotate(360deg);
}
span{
    font-family: mv boli;
    color: #fac031;
    font-size: 5rem;
}
.home{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    background: url(image/bg1.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}

.home .content{
    flex: 1 1 40rem;
    padding-top: 6.5rem;
}
.home .image{
    padding-top: 70px;
    flex: 1 1 30rem;
}
.home .image img{
    width: 90%;
    padding: 1rem;
    animation: float 3s linear infinite;

}
@keyframes float {
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(3rem);
    }
}
.home .content h3{
    padding-top: 50px;
    font-size: 5rem;
    color: #333;
}
.home .content p{
    font-size: 1.7rem;
    /* color: #666; */
    padding: 1rem 0;
}
.home .about_main{
    flex: 1 1 40rem;
    padding-top: 6.5rem;

}
.About .about_main h3{
    /* padding-top: 5px; */
    font-size: 5rem;
}
.About .about_main p{
    font-size: 1.7rem;
    padding: 1rem 0;
}

.About{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: url(image/bg1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.about_main h3{
    text-align: center;
}
.about_main h1{
    text-align: center;
    font-size: 30px;
}

.popular .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 95%;

}
.popular h1{
    text-align: center;
    font-size: 35px;
}
.popular .box-container .box{
    padding: 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem #333;
    border: .01rem solid #000000;
    border-radius: .5rem;
    text-align: center;
    flex: 1 1 30rem;

}
.popular .box-container .box img{
    height: 25rem;
    object-fit: cover;
    width: 100%;
    border-radius: .5rem;
    transition: 0.1s;
}
.popular .box-container .box:hover img{
    transform: scale(1.02);
}
.popular .box-container .box  .price{
    position: absolute; 
    margin-top: 1rem;margin-left: 1rem;
    background-color: #000000;
    color: #fac031;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border-radius: .5rem; 
}
.popular .box-container .box h3{
    color: #000000;
    font-size: 2.5rem;
    padding-top: 1rem;

}
.popular .box-container .box .stars i{
    color: #fac031;
    font-size: 1.7rem;
    padding: 1rem .1rem;

}


.steps{
    display: flex;
    flex-wrap:wrap ;
    gap: 1rem;
    background: url(image/bg1.jpg) no-repeat;
    padding: 1rem 0;
}
.steps .box{
    flex: 1 1 25rem;
    padding: 1rem;
    text-align: center;
}

.steps .box img{
    width: 250px;
    border-radius: 50%;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

}
.steps .box h3{
    font-size: 2.5rem;
    color: #fac031;
    padding: 1rem 0;
}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
section {
    background: url(image/bg1.jpg) no-repeat;
}
.review .box-container .box{
    text-align: center;
    padding: 2rem;
    border: 1rem solid #fff;
    box-shadow:0 .5rem 1rem rgba(0, 0, 0, .3);
    border-radius: .5rem;
    flex: 1 1 30rem;
    margin-top: 6rem;
    background: #f7f7f7;
}

.review .box-container .box img{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: 1rem solid #fff;
    margin-top: -8rem;
    object-fit: cover;
}

.review .box-container .box h3{
    font-size: 2.5rem;
    color: #f4d563;
    padding: .5rem 0;
    
}
.review .box-container .box .stars i{
    font-size: 2rem;
    color: #fac031;
    padding: .5rem 0;
}
.review .box-container .box p{
    font-size: 1.5rem;
    color: #828080;
    padding: 1rem 0;
}
.review .heading{
    text-align: center ;
    font-size: 35px;
}

.order .row{
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-radius: .5rem;
}
.order .row .image{
    flex: 1 1 30rem;

}

.order .row .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}
.order .row form{
    flex: 1 1 50rem;
    padding: 1rem;
}
.order h1{
    text-align: center;
    font-size: 35px;
}

.order .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.order .row form .inputBox input, .order .row form textarea{
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    width: 49%;
}
.order .row form textarea{
    width: 100%;
    resize: none;
    height: 15rem;

}
.order .row form .btn{
    background: none;
}

.order .row form .btn:hover{
    background: #f4d563;
}

.footer{
    background: #000000;
    text-align: center;
}
.footer .share{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}
 .footer .credit{
    padding: 2.5rem 1rem;
    color: #fff;
    font-weight: normal;
    font-size: 2rem;
 }
.footer .credit span{
    color: #fac031;
    font-size: 2rem;
}


#scroll-top{
    position: fixed;
    top: 90%;
    right: 2rem;
    padding: .5rem 1.5rem;
    font-size: 4rem;
    background: #fac031;
    color: #000000;
    border-radius: .5rem;
    transition: 1s linear;
}
#scroll-top.active{
    top: calc(100% 92px);  
}

#search-form{
    position: fixed;
    top: -110%;left: 0;
    height: 100%;width: 100%;
    z-index: 1004;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}
#search-form.active{
    top:0;

}

#search-form #search-box{
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
    background: none;
}
#search-form #search-box::placeholder{
    color: #eee;

}

#search-form #search-box::-webkit-search-cancel-button{
    --webkit-appearance: none;
}

#search-form label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#search-form label:hover{
    color: #fac031;
}

#search-form #close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem; right: 3rem;
    font-size: 5rem;
}










@media(max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
}

@media(max-width:768px){
    #menu-bar{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #f7f7f7;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); 
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0, 0, 0, .1);
        border-left: .5rem solid var(--red);
        background: #fff;
    }

    #modelbox {
        width: 80%;
        margin: 10% auto;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }

    .order .row form .inputBox input{
        width: 100%;
    }

}






/* exitplugin poup */


#modelbox{
    display: none;
}

.offer-box{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    height: 250px;
    background-color: #fac031;
    background-image: url(image/buger2.jpg);
    overflow: hidden;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
}
.offer-text{
    padding: 20px 40px 40px 20px;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
}
.offer-text h2{
    color: #f3e13d;
    font-family: mv boli;
    font-size: 33px;
    line-height: 29px;
}

.offer-text p{
    font-family: mv boli;
}
.offer-text form{
    margin-top: 20px;
    display: flex;
    background: #efefef;
    border-radius: 4px;
}
.offer-text form input{
    flex: 1;
    border: 0;
    outline: 0;
    background: transparent;
    padding: 8px 8px;
}
.offer-text form button{
    border: 0;
    outline: 0;
    cursor: pointer;
    background: #fac031;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
}
.offer-text form button:hover{
    background-color: #000;
    color: #f3e13d;
}
.close-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
}
.btn2{
    display: flex;
    margin: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background: #fac031;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    padding: 6px 6px;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(300%, 50%);

}
.btn2:hover{
    background-color: #000;
    color: #f3e13d;
}